刘梧桐/week09/汽车知识问答-wf (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 汽车知识问答-wf
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1761145353262-source-1761145691684-target
      source: '1761145353262'
      sourceHandle: source
      target: '1761145691684'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1761145691684-source-1761145900282-target
      source: '1761145691684'
      sourceHandle: source
      target: '1761145900282'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1761145900282-source-1761146205689-target
      source: '1761145900282'
      sourceHandle: source
      target: '1761146205689'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 问题
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: question
      height: 88
      id: '1761145353262'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - YlPSj/wnBg89aXDfDsRMRSQMtUcbLjBN30seOPRl//xIq9//DaEnQccdlpLEGkEj
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-v2
              embedding_provider_name: langgenius/tongyi/tongyi
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1761145353262'
        - question
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1761145691684'
      position:
        x: 474
        y: 282
      positionAbsolute:
        x: 474
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1761145691684'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-0.6b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: cdde8ea2-3f6f-467e-8d59-676c1003e1eb
          role: system
          text: 你是一个汽车领域的专家，擅长回答汽车相关的问题，且会使用{{#context#}}工具
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1761145900282'
      position:
        x: 808
        y: 282
      positionAbsolute:
        x: 808
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1761145900282'
          - text
          value_type: string
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1761146205689'
      position:
        x: 1110
        y: 282
      positionAbsolute:
        x: 1110
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -333.5
      y: 107.5
      zoom: 1
  rag_pipeline_variables: []
