周徐阳/week09/1022-穿衣指南.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 1022-穿衣指南
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.33@6792acf632f24f1c41a3192a78ef181f7149811a8dfd9a16ade984978613f79c
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1761142043653-source-1761142334133-target
      source: '1761142043653'
      sourceHandle: source
      target: '1761142334133'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1761142334133-source-1761142558962-target
      source: '1761142334133'
      sourceHandle: source
      target: '1761142558962'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 天气
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: weather
        - default: ''
          hint: ''
          label: 温度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: temperature
        - default: ''
          hint: ''
          label: 湿度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: humidness
      height: 140
      id: '1761142043653'
      position:
        x: 80
        y: 281
      positionAbsolute:
        x: 80
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Qwen/Qwen3-32B
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 1e33ca79-282c-4d30-b821-df0376a8e203
          role: system
          text: 根据用户输入的天气数据，给出穿衣建议
        - id: d7e8b481-e696-452b-9fba-826168efbb24
          role: user
          text: '天气：{{#1761142043653.weather#}}

            温度：{{#1761142043653.temperature#}}

            湿度：{{#1761142043653.humidness#}}'
        selected: true
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1761142334133'
      position:
        x: 382
        y: 281
      positionAbsolute:
        x: 382
        y: 281
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1761142334133'
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1761142558962'
      position:
        x: 684
        y: 281
      positionAbsolute:
        x: 684
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 133.46256613870668
      y: 134.13706086345303
      zoom: 0.8826551973432214
  rag_pipeline_variables: []
