yo1ick/Week09/Dify安装_文档.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Dify安装
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      configs: []
      enabled: false
      type: ''
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: start-source-1761226591615-target
      selected: false
      source: start
      sourceHandle: source
      target: '1761226591615'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1761226591615-1-1761227258085-target
      selected: false
      source: '1761226591615'
      sourceHandle: '1'
      target: '1761227258085'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1761226591615-2-1761227258085-target
      source: '1761226591615'
      sourceHandle: '2'
      target: '1761227258085'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1761226591615-1761227322598-1761227258085-target
      source: '1761226591615'
      sourceHandle: '1761227322598'
      target: '1761227258085'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1761226591615-1761227323149-1761227258085-target
      source: '1761226591615'
      sourceHandle: '1761227323149'
      target: '1761227258085'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1761227258085-source-1761227556370-target
      source: '1761227258085'
      sourceHandle: source
      target: '1761227556370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: end
      id: 1761226591615-1761227383922-1761227559975-target
      source: '1761226591615'
      sourceHandle: '1761227383922'
      target: '1761227559975'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: START
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types: []
          allowed_file_upload_methods: []
          description: ''
          label: Query
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: query
      height: 90
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 服务器选择
        - id: '2'
          name: docker安装
        - id: '1761227322598'
          name: Dify安装
        - id: '1761227323149'
          name: Dify访问
        - id: '1761227383922'
          name: 无关问题
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: deepseek
        query_variable_selector:
        - start
        - query
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 284
      id: '1761226591615'
      position:
        x: 435
        y: 282
      positionAbsolute:
        x: 435
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - c8ba6ff2-d1cd-4639-a3f7-caba5ffc0c49
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1761226591615'
        - class_name
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1761227258085'
      position:
        x: 761
        y: 302
      positionAbsolute:
        x: 761
        y: 302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1761227258085'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1761227556370'
      position:
        x: 1065
        y: 302
      positionAbsolute:
        x: 1065
        y: 302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1761226591615'
          - class_name
          variable: class_name
        selected: false
        title: 结束 2
        type: end
      height: 90
      id: '1761227559975'
      position:
        x: 1059
        y: 443
      positionAbsolute:
        x: 1059
        y: 443
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 221
      y: 271
      zoom: 1
