高阳/week09/穿衣指南.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 穿衣指南
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1761214293493-source-1761214299866-target
      source: '1761214293493'
      sourceHandle: source
      target: '1761214299866'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1761214299866-source-1761214317889-target
      source: '1761214299866'
      sourceHandle: source
      target: '1761214317889'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: '25'
          hint: ''
          label: 温度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: temperature
        - default: 晴
          hint: ''
          label: 天气
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: weather
        - default: '30'
          hint: ''
          label: 湿度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: humidity
      height: 139
      id: '1761214293493'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1761214293493'
          - temperature
        desc: 智能天气助手
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 7e26bfec-f60a-48b9-9e5a-e13f133e4632
          role: system
          text: 你是一个智能穿衣指南专家，请根据{天气:{{#1761214293493.weather#}}、温度:{{#1761214293493.temperature#}}
            、湿度:{{#1761214293493.humidity#}}}，给出合理的穿衣建议
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 115
      id: '1761214299866'
      position:
        x: 403.7174588749259
        y: 282
      positionAbsolute:
        x: 403.7174588749259
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1761214299866'
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 87
      id: '1761214317889'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 17.54719191459094
      y: -114.80258375046861
      zoom: 0.8705505632961248
  rag_pipeline_variables: []
